metrics-registry = "https://registry.npmjs.org/"
registry = "https://registry.npmjs.org/"
node bin location = /home/wouter/.nvm/versions/node/v10.14.2/bin/node
npm bin location = /home/wouter/.nvm/versions/node/v10.14.2/bin/npm